body {
    background: #242424;
    color: #fafafa;
    max-width: 700px;
    margin: 0 auto;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

h1 {
    color: #dd7200;
}

a {
    color: #09f;
}